
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="app.component.css">
    <!--<title>Big Heading</title>
</head>
<body>
    <div class="container">
        <h1 class="big-heading">WELCOME TO JOB BOARD</h1>
        <button class="sign-in-button" onclick="signIn()">Sign In</button>
        <script>
          function signIn() {
              // Add your sign-in logic here
              alert("Sign-in button clicked!");
            }
      </script>
    </div>
    </body>
</html>-->
