<div class= form>
  <h2 id="registration">registration Form</h2>
  <form  (ngSubmit)="onSubmit(myForm)"#myForm>
    <label for ="fname">First name</label>
    <input type="text"id="fname" placeholder="Your name.."
    name="firstname" ngModel = required #fname="ngModel">
    <div>
      <small *ngIf="fname.invalid && fname.touched">firstname is a required field</small>

    </div>

    <label for ="lname">Last name</label>
    <input type="text" id="lname" placeholder="Your name.."
    name="lastname" ngModel required>

    <label for ="email">Email</label>
    <input type="email"id="email"placeholder="Your email.."
    name="email" ngModel required email>
     
    <label for="country">Country</label>
    <select id = "Country " name="country" [ngModel]="defaultcountry" >
      <option value="austrailia">Australia</option>
      <option value="canada">canada</option>
      <option value="usa">USA</option>
      <option value="India">India</option>
      <option value="uk">UK</option>
    </select>

    <label for="gender">Gender:</label>
    <input type="radio" id="male" value="male">
    <label for="male">male</label>
    <input type="radio" id ="female" value="female">
    <label for ="female">female</label>
    <br><br>

    <label>Hobbies <i>(optional)</i></label>
    <div class="form-inline">
      <label><input type="checkbox" value="sports">sports</label>
      <label><input type="checkbox" value="movies">movies</label>
      <label><input type="checkbox"value="music">music</label>
    </div>
    <input type="submit" value="submit" id="btn">
  </form>
</div>